<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application
        android:name=".AndroidApp"
        android:allowBackup="true"
        android:label="Tiendas 3B"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_tiendas_launcher"
        android:roundIcon="@mipmap/ic_tiendas_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Tiendas3b"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="ExtraText">
            tools:ignore="DiscouragedApi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
